
@{
    Layout = null;
}

<div class="media user-media well-small">
    <a class="user-link" href="#">
        <img class="media-object img-thumbnail user-img" alt="User Picture" src="assets/img/user.png" />
    </a>
    <br />
    <div class="media-body">
        <h5 class="media-heading"> EREDAR</h5>
    </div>
    <br />
</div>

<ul id="menu" class="collapse">


    <li class="panel">
        <a href="#">
            <i class="icon-table"></i> Početna stranica
        </a>
    </li>
    <li class="panel">
        <a href="zaprimljene_prijave.html">
            <i class="icon-table"></i> Pregled zaprimljenih prijava
        </a>
    </li>
    <li class="panel ">
        <a href="#" data-parent="#menu" data-toggle="collapse" class="accordion-toggle" data-target="#component-nav">
            <i class="icon-tasks"> </i> PRIJAVE

            <span class="pull-right">
                <i class="icon-angle-left"></i>
            </span>
        </a>
        <ul class="collapse" id="component-nav">
            <li class="">
                <a href="#"><i class="icon-angle-right"></i> Pregled prijava </a>
            </li>
            <li class="">
                <a href="#"><i class="icon-angle-right"></i> Detalji prijava </a>
            </li>
            <li class="">
                <a href="#"><i class="icon-angle-right"></i> Brisanje prijava </a>
            </li>

        </ul>
    </li>

    <li class="panel ">
        <a href="#" data-parent="#menu" data-toggle="collapse" class="accordion-toggle" data-target="#component-nav">
            <i class="icon-tasks"> </i> Izrada arhive

            <span class="pull-right">
                <i class="icon-angle-left"></i>
            </span>
        </a>

    </li>

    <li class="panel ">
        <a href="#" data-parent="#menu" data-toggle="collapse" class="accordion-toggle" data-target="#component-nav">
            <i class="icon-tasks"> </i> Popis korisnika

            <span class="pull-right">
                <i class="icon-angle-left"></i>
            </span>
        </a>

    </li>

</ul>