@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Public/PublicLayout.cshtml";
}




    <!-- start page-title -->
    <div class="page-title">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h3>O projektu<br></h3>
                </div><!-- /.col-md-6 -->
                <div class="col-md-6">
                    <nav class="breadcrumbs">
                        <ul>
                            <li>PAUP: </li>
                            <li>
                                <a href="#">Početna</a>
                            </li>
                            <li>O projektu</li>
                        </ul>
                    </nav>
                </div><!-- /.col-md-6 -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </div>
    <!-- end page-title -->
    <!-- start section -->
    <section class="section">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <!-- Classic Heading -->
                    <h3><span>O projektu</span></h3>
                    <div class="line"></div>
                    <img src="~/Content/img/s07.gif" alt="">
                    <div class="serv-desc">
                    </div>
                </div><!-- /.col-md-6 -->
                <div class="col-lg-8 col-md-8 col-sm-8">
                    <!-- Classic Heading -->
                    <h3><span>Informacije o projektu</span></h3>
                    <div class="line"></div>
                    <p>
                        Ovaj projekt namijenjen je izradi web aplikacije  "xxxxxx". Korištena je .NET MVC tehnologija i MySQL baza podataka. .....
                    </p>

                </div><!-- /.col-md-6 -->
            </div>
        </div>

    </section>
    <!-- end section -->
    <!-- start section -->
    <section class="section">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <!-- Classic Heading -->
                    <h3><span>Svojstva projekta</span></h3>
                    <div class="line"></div>
                    <h5>Opis osnovnihh elemenata projekta</h5>
                    <p>
                        Projekt je osmišljen .....
                    </p>
                </div><!-- /.col-md-6 -->
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <!-- Classic Heading -->
                    <h5>AUTORI PROJEKTA</h5>
                    <p>
                        Popis projektnog tima:<br>
                        1. Student .... <br>
                        2. Student ...
                    </p>

                </div><!-- /.col-md-6 -->
            </div>
        </div>

    </section>
    <!-- end section -->

